body {
  font-family: 'Nunito', 'Noto Sans TC';
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: 'Azeret Mono', 'Noto Sans TC', monospace;
}


@media (min-width: 48em) {
  .content {
    max-width: 38em;
  }
}

@media (min-width: 64em) {
  .content {
    max-width: 58em;
  }
}

h2>a>h2 {
  color: #eee;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article-toc nav {
  margin-left: 0px;
}

details {
  margin-bottom: 20px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 30px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 25px;
}


li {
  color: inherit;
}