{{/* Personal/custom script for light/dark mode and tabs */}}
{{ $js := slice
(resources.Get "js/light_dark.js")
(resources.Get "js/tabs.js") }}

{{/* Personal/custom scripts for table of contents */}}
{{ if not .Site.Params.hideToc }}
{{ $js = $js | append (resources.Get "js/toc.js") }}
{{ end }}

{{ $js_bundle := $js | resources.Concat "js/bundle.js" | minify | fingerprint }}

<script defer language="javascript" type="text/javascript" src="{{ $js_bundle.RelPermalink }}"></script>


{{ if .Site.Params.plausible }}
<script defer data-domain="{{ .Site.Params.plausible_domain }}" src="{{ .Site.Params.plausible_script }}"></script>
{{ end }}

{{- with site.Params.adsense }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ . }}"
  crossorigin="anonymous"></script>
{{- end }}